.table-header {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.table-align {
  vertical-align: middle;
}

.center-align {
  text-align: center;
}

.middle-center-align {
  text-align: center;
  vertical-align: middle;
}

.table-checkbox {
  text-align: center;
}

.icon-light {
  filter: invert(1);
}

.icon-dark {
  filter: invert(0);
}

.icon-theme {
    vertical-align: middle;
}

.api-row-enabled {
  background-color: rgba(9, 183, 9, 0.43) !important
}
.api-row-disabled {
  background-color: rgba(255, 0, 0, 0.3) !important;
}

@keyframes pulse {
    0% {
        background-color: rgba(25, 135, 84, 0.8);
    }
    /* Giallo brillante */
    50% {
        background-color: rgba(25, 135, 84, 0.3);
    }
    /* Pi� tenue */
    100% {
        background-color: transparent;
    }
    /* Torna normale */
}

.pulse-highlight {
    animation: pulse 1s ease-in-out;
}

@keyframes pulse-fade {
    0% {
        background-color: rgba(0, 150, 255, 0.6);
    }

    50% {
        background-color: rgba(0, 150, 255, 0.3);
    }

    100% {
        background-color: transparent;
    }
}

.pulse-update {
    animation: pulse-fade 1s ease-in-out;
}

@keyframes highlight-fade {
    0% {
        background-color: rgba(255, 255, 0, 0.8);
    }

    100% {
        background-color: transparent;
    }
}

.highlight-update {
    animation: highlight-fade 2s ease-out;
}

@keyframes wave-fade {
    0% {
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.9);
    }

    100% {
        box-shadow: 0 0 0 rgba(0, 255, 0, 0);
    }
}

.wave-update {
    animation: wave-fade 1s ease-out;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.pulse-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    animation: pulse 1.5s infinite;
    background-color: green;  
}

.pulse {
    display: inline-block;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }

    50% {
        transform: scale(1.4);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}

.menu-icon {
    width: 48px;
    height: 48px;
}

.btn-menu {
    width: 230px;
    height: auto;
    font-size: 1.5rem;
    border-radius: 5px;
    border-color: #5b5b5b;
    background-color: transparent !important;
    &:hover{
        border-color: #d99b37 !important;
        background-color: rgba(217, 135, 55, 0.4) !important;
    }
}
